<div class="container-fluid" id="footer">
    <footer class="d-flex flex-wrap justify-content-between align-items-center my-4">
      <div class="col-md-4 d-flex align-items-center">
        <span class="mb-3 mb-md-0" id="footer-text"> Copyright &copy; Maluda's Jollof. All Right Reserved.</span>
      </div>
  
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-body-secondary" href="https://www.instagram.com/maludatech/"><i class="fa-brands fa-instagram"></i></a></li>
        <li class="ms-3"><a class="text-body-secondary" href="https://twitter.com/maludatech"><i class="fa-brands fa-twitter"></i></a></li>
        <li class="ms-3"><a class="text-body-secondary" href="https://github.com/Davinci321"><i class="fa-brands fa-github"></i></a></li>
      </ul>
    </footer>
  </div>