<%- include("partials/header.ejs") %>
<div class="pt-20 mx-4 mb-8">
    <h1 class="text-3xl text-yellow-500">The Resturant: Maluda's Jollof</h1>
    <p>Maluda's Jollof was a dream set into reality by a young tech billionaire who goes by the name <span id="bold">Mr.Nwite Victor Ugochukwu</span> porpularly known as Maluda. He is the CEO of the reputable tech company <span id="bold">Maluda Tech</span> and <span id="bold">Maluda Jollof</span>. He estabilished this great resturant in 2025 because of his love and dedication towards Jollof rice. The resturant has set itself apart from other resturant in many ways ranging from the organizedness of the institution to their customer care and support. In 2028, the resturant received the People's Choice award of the best resturant in Nigeria. The resturant is loved by many for it's delicious and mouth-watering jollof rice. Maluda's Jollof boast of being the only resturant in Nigeria to serve almost all the different variety of Jollof rice worldwide.</p>
    <ul class="mt-4 list-disc ml-5">
        <li>Resturant name: <span id="bold">Maluda Jollof</span></li>
        <li>Motto: Come and get served</li>
        <li>Head Resturant: Maluda Jollof, Gwagwalada, FCT</li>
        <li>Branch Resturant: Umuahia, Owerri, Ikeja, Uyo, Port-Harcourt, Awka, Abakaliki, Onitsha, Enugu, Nsukka, Jos, Osogbo. </li>
    </ul>
</div>
<%- include("partials/footer.ejs") %>
