<%- include("partials/header.ejs") %>
<div class="menu-container" id="mb">
<h1 class="title" id="menu-title">Menu!!!</h1>
<p class="jollof-menu-intro">
    Jollof rice is a popular West African dish known for its flavorful rice cooked with a tomato-based sauce and various spices. While there are many variations across different countries and regions, here are some notable types and varieties of jollof rice available in our Resturant:
</p>
<ul>
    <li>
<span id="bold">Nigerian Jollof Rice</span>: Often considered the "king" of jollof rice, Nigerian jollof rice is known for its rich and spicy flavor. It's typically cooked with tomato sauce, bell peppers, onions, and a variety of spices.
    </li>
    <li>
        <span id="bold">Ghanaian Jollof Rice</span>:Ghanaian jollof rice is known for its smoky flavor, often achieved by cooking the rice over an open flame. It's seasoned with tomatoes, onions, and a mix of spices.
    </li>
    <li>
        <span id="bold">Senegalese Jollof Rice</span>: Senegalese jollof rice, also known as "Thieboudienne," features a flavorful tomato and tamarind sauce, along with vegetables like carrots, cabbage, and eggplant. It's often served with fish.
    </li>
    <li>
        <span id="bold">Sierra Leonean Jollof Rice</span>: Sierra Leonean jollof rice is known for its unique combination of flavors. It often includes ingredients like coconut milk, groundnuts (peanuts), and a mix of spices.
    </li>
    <li>
        <span id="bold">Liberian Jollof Rice</span>: Liberian jollof rice features a tomato-based sauce with a slightly sweet taste due to the addition of palm oil. It's often served with fried plantains and meat.
    </li>
    <li>
        <span id="bold">Ivorian (Côte d'Ivoire) Jollof Rice</span>: Ivorian jollof rice, known as "Riz Gras," is cooked with a tomato-based sauce and often includes vegetables, meat, and shrimp.
    </li>
    <li>
        <span id="bold">Beninese Jollof Rice</span>: In Benin, jollof rice is often referred to as "Benachin." It includes ingredients like tomatoes, vegetables, fish, and shrimp, resulting in a flavorful and hearty dish.
    </li>
    <li>
        <span id="bold">Cameroonian Jollof Rice</span>: Cameroonian jollof rice is known for its rich red color and is often cooked with smoked fish, spices, and herbs.
    </li>
    <li>
        <span id="bold">
            Togolese Jollof Rice</span>: Togolese jollof rice, known as "Riz Sauce Arachide," features a tomato and peanut sauce that gives it a unique flavor profile.
    </li>
    <li>
        <span id="bold">Malian Jollof Rice</span>: In Mali, jollof rice is often called "Jollof Riz au Gras" and is cooked with vegetables, meat, and spices.
    </li> 
</ul>
</div>
<%- include("partials/footer.ejs") %>