@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;
	
body{
    font-family: 'Poppins';
 }

.fa-brands{
    color: rgb(240, 181, 62);
}
.fa-brands:hover{
    color: white;
}
#bold{
    font-weight: bold;
}
li a:hover{
    color: white;
    text-decoration: underline;
    text-underline-offset: 0.7rem;
}

